node_modules
dist
server/downloads
server/config
server/tmp
.synology-test
albums
cookies
tmp
*.log
*.part
*.pid
*.tgz
*.tar
*.tar.gz
*.zip
*.local
*_test.html
*_check.html
qg_*.js
qiguang_*.html
xchina_*.html
8se_*.html
public/redesign-preview.html
.env
.env.*
!.env.example
.git
.gitignore
npm-debug.log*
Dockerfile
docker-compose.yml
